<h2>My Reading Tracker</h2>
  <ul>
  <% @books.each do |value| %>
    <li>
      <%= link_to value.name, book_path(value) %>
    </li>
  <% end %>  
  </ul>

<h5><%= link_to 'Add Book', new_book_path %></h5>